{% extends './layout/default.html' %}

{% block title %}活动详情{% endblock %}

{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/activityDetails.css">
{% endblock %}

{% block main%}
    <div class="activityDetatils">
        <h1 class="title">网红经济研究（总第318期）</h1>
        <div class="text">
            王珊 
中投中财基金管理有限公司投资总监，中投中财游戏产业基金执行董事

王珊女士 工商大学本科经济学位，长江商学院金融MBA硕士学位中投中财基金管理有限公司投资总监，中投中财游戏产业基金执行董事，原网易投资部投资总监。投资案例：1）广州汇量网络科技股份有限公司（证券代码834299）2）北京软告科技股份有限公司（证券代码837216）3）合肥九星娱乐股份有限公司（证券代码：830986）4）北京耀毅影视文化传媒有限公司 5）广州骏豪宏风网络科技有限公司投资经验５年，共对外投资了40余家TMT行业的公司。有丰富的互联网项目资源，和较强的项目尽调和辨识能力。

时间：2016年8月10日（周三）
19:00-21:00

地点：金英会微会所（北京市朝阳门外大街昆泰国际公寓2506）

具体要求：
人数：15人（金英会VIP会员优先并免费参与）

费用：50元/人（当日未能出席者概不退款或延迟使用，谢谢理解与配合）
        </div>
        <h1 class="title">报名资料填写</h1>
        <form class="data">
            <input type="text" name="" value="" placeholder="姓名">
            <input type="number" name="" value="" placeholder="手机号">
            <input type="text" name="" value="" placeholder="微信号">
            <input type="text" name="" value="" placeholder="公司">
            <input type="text" name="" value="" placeholder="职位">
            <button type="button" class="btn">提交</button>
        </form>
        <p class="tipInfo">注: 请根据要求完整填写您的信息，如有任何问题请拨打59251267，或添加微信号jinyinghui2506咨询金英会小秘书</p>
    </div>
{% endblock %}
