{% extends './layout/default.html' %}

{% block title %}活动{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../css/activity.css">
    <link href="https://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
{% endblock %}

{% block main%}
<!--轮播图-->
<div class="activity-banner">
    <div class="con swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!--布局1-->
                <div class="box msg">
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                    <p class="title1">走进量子金服智能资管交流沙龙</p>
                    <a class="btn" href="./activityDetails.html">报名预约</a>
                </div>
                <div class="box">
                    <img src="../images/activity-banner-1.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <!--布局2：图左文右-->
                <div class="box">
                    <img src="../images/activity-banner-2.jpg" alt="">
                </div>  
                <div class="box msg">
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                    <p class="title1">走进量子金服智能资管交流沙龙</p>
                    <a class="btn" href="./activityDetails.html">报名预约</a>
                </div>  
            </div>
            <div class="swiper-slide">
                <!--布局3：只有图片-->
                <img src="../images/activity-banner-3.jpg" alt="">
            </div>
        </div>
        

        <!-- 如果需要导航按钮 -->
        <!--<div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>-->

        <!-- 如果需要滚动条 -->
        <!--<div class="swiper-scrollbar"></div>-->
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>

<!--往期回顾-->
<!-- 更改status元素上的类可以改变状态值颜色 -->
<div class="review">
    <h1 class="tab-title">往期回顾</h1>
    <ul>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-green">进行中</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-grey">已结束</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-blue">众筹中</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-red">结算中</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-orange">暴动中</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="card">
            <a href="#">
                <div class="imgbox">
                    <img src="../images/review-card.jpg" alt="">
                </div>
                <div class="msg">
                    <p class="title">崔健三十年工人体育场演唱会崔健三十年工人体育场演唱会<span class="status status-grey">已结束</span></p>
                    <p class="text">1986年的那个春天，在各种文化思潮的压抑与碰撞之间即将发生真正的裂变。《朦胧诗》在大学更加流行...</p>
                    <p class="title2">
                        <span class="time"><i class="fa fa-clock-o"></i> 2016/9/6</span>
                        <span><i class="fa fa-map-marker"></i> 北京工人体育场</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

 {% block javascript %}
 <script src="https://cdn.bootcss.com/Swiper/3.3.1/js/swiper.min.js"></script>
 <script>
    //  配置轮播图
     var mySwiper = new Swiper ('.swiper-container', {
        // direction: 'vertical',
        loop: true,

        // effect
        effect : 'fade',
        
        // 如果需要分页器
        pagination: '.swiper-pagination',
        paginationClickable: true,

        // 自动播放
        autoplay: 5000,
        
        // 如果需要前进后退按钮
        // nextButton: '.swiper-button-next',
        // prevButton: '.swiper-button-prev',
        
        // 如果需要滚动条
        // scrollbar: '.swiper-scrollbar',
    })        
 </script>
 {% endblock %}