$color-black-title:rgba(0, 0, 0, .87);
$color-black-text:rgba(0, 0, 0, .54);
$color-logo:rgb(237, 195, 129);

// 图片框hover动画
@mixin imgbox-animate($scale:1.5) {
    overflow: hidden;
    transition: .5s;
    img {
        transition: .5s;
        width: 100%;
    }
    &:hover {
        img {
            transform: scale3d($scale, $scale, $scale);
        }
        box-shadow: 0 0 5px #000;
    }
}

// css三角形
@mixin triangle-right($size:8px, $color:#fff) {
    content: '';
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    position: absolute;
}
@mixin triangle-top($size:8px, $color:#fff) {
    content: '';
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    position: absolute;
}