<div class="header">
    <span class="logo"></span>
    <ul class="nav-1">
        <li><a href="./index.html">首页</a></li>
        <li>
            <a href="#">社群</a>
            <!--二级菜单-->
            <ul class="nav-2">
                <li><a href="./activity.html">活动</a></li>
                <li><a href="./branch.html">分会架构</a></li>
            </ul>
        </li>
        <li>
            <a href="./capital.html">资本</a>
            <!--二级菜单-->
            <ul class="nav-2">
                <li><a href="#">二级菜单</a></li>
                <li><a href="#">二级菜单</a></li>
            </ul>
        </li>
        <li><a href="#">关于我们</a></li>
    </ul>
</div>