@import './layout/public.scss';
.activity-banner {
    $bannerHeight: 450px;
    $bgColor: rgb(247, 247, 247);
    background-color: $bgColor;
    margin-bottom: 100px;
    .box {
        width: 50%;
        height: $bannerHeight;
        float: left;
        box-sizing: border-box;
        img {
            height: 100%;
        }
    }
    .msg {
        padding-top: 105px;
        padding-left: 120px;
        padding-right: 60px;
        background-color: $bgColor;
    }
    .time {
        margin-right: 14px;
    }
    .title1 {
        font-size: 28px;
        color: $color-black-title;
        // width: 486px;
        margin-top: 19px;
        margin-bottom: 54px;
        line-height: 1.5;
        @include text-clamp($clamp: 4);
    }
    .title2 {
        font-size: 14px;
        color: $color-black-text;
    }
    // 分页器
    .swiper-pagination {
        width: 100%;
        >* {
            width: 16px;
            height: 16px;
            border-radius: 0;
            margin-top: 16px;
            margin-right: 16px;
            background: $color-logo;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.review {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    text-align: center;
    .tab-title {
        font-size: 36px;
        color: $color-black-title;
        margin-bottom: 40px;
    }
    .status {
        font-size: 12px;
        padding: 4px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    .status-grey {
        background: rgba(0, 0, 0, .24);
    }
    .status-green {
        background: mediumseagreen;
    }
    .status-red {
        background: indianred;
    }
    .status-orange {
        background: orange;
    }
    .status-blue {
        background: dodgerblue;
    }
    .card {
        width: 384px;
        display: inline-block;
        margin: 0 12px;
        margin-bottom: 24px;
        border: 1px solid #ddd;
        padding-bottom: 45px;
        transition: .3s;
        position: relative;
        &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, .24);
        }
        .imgbox {
            width: 100%;
            height: 296px;
            @include imgbox-animate();
            img {
                height: 100%;
            }
        }
        .msg p {
            padding: 24px 16px 0;
            text-align: left;
            line-height: 30px;
        }
        .title {
            font-size: 18px;
            color: $color-black-title;
            @include text-clamp($clamp: 2);
            height: 81px;
        }
        .text {
            font-size: 14px;
            color: $color-black-text;
            @include text-clamp($clamp: 2);
            height: 84px;
        }
        .title2 {
            font-size: 14px;
            color: $color-black-text;
            .time {
                margin-right: 70px;
            }
        }
    }
}