@import './layout/public.scss';

// 资本
.branch-pic {
    text-align: center;
    margin-bottom: 100px;
    img {
        width: 100%;
    }
    .imgbox {
        width: 384px;
        height: 384px;
        display: inline-block;
        margin-right: 24px;
        position: relative;
        @include imgbox-animate();
        &:last-of-type {
            margin-right: 0;
        }
        &:hover{
            .text{
                background: rgba(0,0,0,.5);
            }
        }
        .text {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            font-size: 14px;
            transition: .5s;
            line-height: 2.5;
            .t1 {
                font-size: 18px;
            }
        }
    }
}